<p id="notice"><%= notice %></p>

<p>
  <strong>Db:</strong>
  <%= @bookrake.db %>
</p>

<p>
  <strong>Book:</strong>
  <%= @bookrake.Book %>
</p>

<%= link_to 'Edit', edit_bookrake_path(@bookrake) %> |
<%= link_to 'Back', bookrakes_path %>
